# Production canonical base URL
NEXT_PUBLIC_SITE_URL=https://mestikaabadimakmur.com

# WordPress site URL OR full REST base.
# Examples:
# https://cms.domainanda.com
# https://cms.domainanda.com/wp-json/wp/v2
WORDPRESS_API_URL=
